body {
  margin: 0;
  background-color: #ecf0f1;
}

.layout {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'sidebar'
    'footer';
  grid-template-rows: auto 1fr auto auto;
  min-height: 100vh;

  > header {
    grid-area: header;
    background-color: #fdd;
  }

  > aside {
    grid-area: sidebar;
    background-color: #ddf;
  }

  > main {
    grid-area: main;
    background-color: #fff;
  }

  > footer {
    grid-area: footer;
    background-color: #ffd;
  }
}

@media (min-width: 800px) {
  .layout {
    grid-template-areas:
      'header header'
      'main sidebar'
      'footer footer';
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 20%;
  }
}
